<!DOCTYPE html>
<html>
<head>
  <title>Stukbook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/header" %>
<% flash.each do |type, message| %>
	<div class="alert alert-info fade-in">
	<button class="close" data-dismiss="alert">x</button>
	<%= message %>
	</div>
<% end %>
<%= yield %>

</body>
</html>
